
<div id="posts_wrapper" class="skinny_wrapper">
        <h1><%= @user.user_name || @user.email %></h1>
        <%= render 'shared/stats' %>
        <%= render 'follow_form' if user_signed_in? %>


      <% if @user.entries.any? %>
        <h3>Entries (<%= @user.entries.count %>)</h3>
        <ol class="microposts">
          <% @user.entries.each do |entry| %>
            <%= link_to entry.title, entry_path(entry) %><br>
          <%end %>
        </ol>
      <% end %>
</div>

