<!DOCTYPE html>
<html>
<head>
	<title>QuynhBlog</title>
	<link href='//fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header id="main_navigation" class="clearfix">
		<%= link_to "Q_Blog", root_path, class: "name" %>
		<nav>
			<%= link_to "Articles", entries_path %>
			<%= link_to "Projects" %>
			<%= link_to "Sign out" %>
		</nav>
	</header>

	<% if notice %>
		<p class="notice"><%= notice %></p>
	<% elsif alert %>
		<p class="alert"><%= alert %></p>
	<% end %>

	<%= yield %>

	<footer id="main_footer">
		<p class="copyright">2016 QuynhBlog</p>
		<nav>
			<a href="#" ><i class="fa fa-twitter"></i></a>
			<a href="#" ><i class="fa fa-dribbble"></i></a>
			<a href="#" ><i class="fa fa-github"></i></a>
		</nav>
	</footer>

</body>
</html>
